# Ignore virtual environment
venv/

# Ignore dataset folder
dataset/

# Ignore model files
*.pth

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
fed-azure.pth
fed-azure.zip
final_federated_model.pth
best_multiclass_model.pth
best_sota_hybrid_model.pth
SplitData/
config.json
drive/
saved_models/
fl.client.Client